1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [11]:
Tupla = ()
for i in range(1,100):
    if i % 3 == 0 and i % 5 == 0: # Important the order of this condition
        Tupla += ("MickeyMouse",)
        # print("MickeyMouse")    
    elif i % 5 == 0:
        Tupla += ("Mouse",)
        # print("Mouse")
    elif i % 3 == 0:
        Tupla += ("Mickey",)
        # print("Mickey")
    else: 
        Tupla += (i,)
        # print(i)

# Tuples does not support assignment operator
NewTupla = ()
for element in Tupla:
    if element == "Mickey":
        NewTupla += ("Donald",)
    elif element == "Mouse":
        NewTupla += ("Duck",)
    else: NewTupla += (element,)

print(NewTupla)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [18]:
def swap(a,b):
    c = a
    a = b
    b = c
    return a,b

x, y = 10, 7
print(f"{x} \t {y}")
x,y = swap(x,y)
print(f"{x} \t {y}")


def swap_neo(a,b):
    a, b = b, a
    return a,b

print("\n")
x, y = 10, 7
print(f"{x} \t {y}")
x,y = swap_neo(x,y)
print(f"{x} \t {y}")

10 	 7
7 	 10


10 	 7
7 	 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
def distance(a,b):
    return ((a[0]-b[0])**2 + (a[1]-b[1])**2)**0.5

v = (1,6)
u = (3,5)

print(distance(v,u))

2.23606797749979

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [21]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

# A dictionary allowes to store iteratively different elements and increment their count each time they appear
c = [i for i in s]
count = {}
for char in c:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

print(count)

{'W': 1, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 2, 'B': 1, 'l': 6, 'M': 4, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2, 'F': 1, 'w': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

# One can use a dictionary and then apply a filter to make a list
def unique_cnt(lst):
    D = {}
    for n in lst:
        if n in D:
            D[n] += 1
        else:
            D[n] = 1

    unique_lst = []
    for num in D:
        if D[num] == 1:
            unique_lst.append(num)

    return unique_lst, len(unique_lst)

print(unique_cnt(l))

([58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53], 37)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [2]:
def square(x):
    return x*x

def cube(x):
    return x**3

def sixth(y):
    return square(cube(y))

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [4]:
cube_list = [x**3 for x in range(0,11)]

print(cube_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one